<app-navbar></app-navbar>
<br><br>
<form #userForm="ngForm" (ngSubmit)="createAccount(userForm)">
    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="border shadow p-4">
                    <h3 class="heading">Create Account</h3>
                    <br>
                    Enter Name
                    <input type="text" class="form-control" name="user_name" ngModel>
                    <br>
                    Enter Mobile
                    <input type="number" class="form-control" name="user_mobile" ngModel>
                    <br>
                    Enter Email
                    <input type="email" class="form-control" name="user_email" ngModel>
                    <br>
                    Enter Pasword
                    <input type="password" class="form-control" name="user_password" ngModel>
                    <br>
                    <Button class="btn btn-primary mb-3">Register Now</Button>
                    <br><br>
                    New User <span routerLink="/create_account">Create Account</span>

                </div>

            </div>
        </div>
    </div>
</form>