<app-navbar></app-navbar>
<!-- <body itemscope="itemscope" itemtype="http://schema.org/Person">
    <meta itemprop="birthDate" content="1990-03-20">
    <meta itemprop="url" content="https://krasin.in.ua">
    <meta itemprop="email" content="mailto:kirillkrasin@gmail.com"> -->
    <br><br>
        <div class="profile-wrapper container">
        <div class="row">
            <div class="col-md-6 left">
                <img class="user-photo" itemprop="image" src="https://cdn1.iconfinder.com/data/icons/instagram-ui-glyph/48/Sed-09-512.png" alt="Kirill Krasin">
            </div>
            <div class="col-md-6 right text-center">
                <h1 itemprop="name">Mr.Vinod Thombare</h1><!-- Name -->
                <h2>Full Stack Developer</h2><!-- Job -->
                <hr>
                <div class="links">
                <a href=""><i class="fab fa-fw fa-telegram-plane fa-2x"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/vinod-thombare-73b8482a1/?trk=public-profile-join-page"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                </div>
                <hr>
                <div class="phone">
                <h3>Contact :</h3>
                <h2><a id="contact-phone" href="tel:+121231232323">+91 7058105025</a></h2>
                </div>
            </div>
        </div>
        </div>
        <!-- <style>@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');</style>
      </body> -->